@import "tailwindcss";
@plugin "daisyui";
* {
     font-family: "Inter", "roboto", "Poppins";
}
.monofont {
     font-family: "Fira Code", monospace;
}
.akshar-font {
     font-family: "Akshar", sans-serif;
}
